
FFXIVVoiceClipNameGuesser/bin/Release/ffmpeg.exe
FFXIVVoiceClipNameGuesser/bin/Debug/ffmpeg.exe
*.zip
*.exe
*.exe
*.exe
*.exe
*.exe
*.exe
FFXIVVoiceClipNameGuesser/bin/Debug/FFXIVVoiceClipNameGuesser.exe
FFXIVVoiceClipNameGuesser/obj/Debug/FFXIVVoiceClipNameGuesser.exe
FFXIVVoiceClipNameGuesser/bin/Release/FFXIVVoicePackCreator.exe.config
FFXIVVoiceClipNameGuesser/bin/Release/FFXIVVoicePackCreator.pdb
FFXIVVoiceClipNameGuesser/obj/Release/FFXIVVoicePackCreator.pdb
